doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(http-equiv="X-UA-Compatible" content="chrome=1")
    title= locals.title ? title + " | " + site_title : site_title
    link(rel="shortcut icon" href="img/favicon.ico")
    link(rel="stylesheet" href="/css/main.css")
  body
    h1 Some title yall