doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximmum-scale=1.0')
    title= locals.title ? title + " | " + site_title : site_title
  body